.navbar{
    background-color: rgb(44, 43, 43) !important;
    color: white !important;
}
.logo{
    width: 200px; 
}
.dropdown-menu{
    background-color: black;
}



.nav-link{
    color: white !important;
    font-weight: bold;
    text-decoration: none !important;

}

/* .link{
    text-decoration: none !important;
    
} */
.fa-shopping-cart,.fa-user,.fa-phone,.fa-copyright{
    font-size: 20px !important;
    color: rgb(135, 216, 30);
    margin-right: 5px;
}
 /* slider */
 
.maindiv{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-around;
    flex-wrap: wrap;

    
}
.mainone,.maintwo,.mainthree{
    margin-top: 10px;
    display: flex;
    width: 300px;
    height: 100px;
    background-color: rgb(44, 43, 43) ;
    color: white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    
    box-shadow: 4px 4px 15px green;
    border-radius: 1em;

}
.fa-truck,.fa-clock-o,.fa-thumbs-up{
    font-size: 40px !important;
    color:  rgb(135, 216, 30);
    margin-right: 5px;
    
}
/* query */

@media screen and (max-width: 600px){
    .mainone,.maintwo,.mainthree{
        width: 100%;
    }
}
/* cart */
h1{
    font-style: italic;
    margin-top: 20px;
    color:rgb(135, 216, 30);
    padding: 10px;
    text-align: center;
    background-color: rgb(44, 43, 43);
    width: 100%;
}
.card1,.card{
    
    
    margin: 0px auto;
    
    margin-top: 30px;
    
    
    
}
/* 70% off */
.crd{
    color: rgb(4, 34, 4) !important;
    text-align: center;
    margin-left: 20%;
    
}
.btnn{
    background-color: rgb(7, 54, 7) !important;
    width: 45% !important;
    font-weight: bold !important;
    margin-left: 37%;
}

/* java script */
.zoomin{
    width: 125% !important;
}
.zoomout{
    width: 120% !important;
}






.card-w{
    width: 120% ;
    
}
.card{
   background-color: rgb(44, 43, 44);
    margin-top: 30px;
    box-shadow: 4px 3px 10px green;  
    
}

h5,p{
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: left;
}
.btn-primary{
    background-color: rgb(135, 216, 30);
    width: 100%;
    
}
/* footer */
h3{
    color: white;
    font-size: 15px;
    text-align: right;
    margin-right: 25px;
    
}
.footer{
    background-color: rgb(44, 43, 44);
    margin-top: 30px;
}
#p{
    margin-top: 30px;
    margin-left: 20px;
    padding: 20px ;
    font-size: 14px;
    font-style: 14px;
}
.fa-copyright,.fa-google,.fa-facebook{
    font-size: 14px !important;
    color: rgb(135, 216, 30);
    margin-right: 5px;
}